.idea/*
td1/target/*
lib/*
out/*
td2/target/*
td3/target/*
tp4/target/*
tp4/.idea/*
tp5/target/*
tp5/.idea/*
tp6/target/*
tp6/.idea/*
tp6/target/*
tp6/.idea/*
tp7/.idea/*
tp7/target/*
tp7/lib/*
tp7/out/*
tp7/.mvn
