<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Client</title>
</head>
<body>
<h1>Client<span th:text="${client.getId()}"/> </h1>
<div>
    <p th:text="${client.getNom()}"/>
    <p th:text="${client.getPrenom()}"/>
    <table border="1">
        <tr>
            <th>Id du compte</th>
            <th>Solde</th>
        </tr>
        <tr th:each ="compte : ${client.getComptes()}">
            <td th:utext="${compte.getId()}"/>
            <td th:utext="${compte.getSolde()}"/>
        </tr>
    </table>
</div>
</body>
</html>